<form (ngSubmit)="save(createProduct)" #createProduct="ngForm">
  <div class="col-md-8">
    <div [ngClass]="{'error_field': !productNameVar.valid && productNameVar.touched}">
      <label class="form-label" for="productName">Product</label>
      <input [(ngModel)]="productName" #productNameVar="ngModel" minlength="3" required class="form-control" type="text" name="productName" id="productName">
      <span *ngIf="!productNameVar.valid && productNameVar.touched">Enter a valid Product Name</span>
    </div>
    <div [ngClass]="{'error_field': !productCodeVar.valid && productCodeVar.touched}" >
      <label class="form-label" for="productCode">Product Code</label>
      <input [(ngModel)]="productCode" #productCodeVar="ngModel" required minlength="3"  type="text" class="form-control" name="productCode" id="productCode">
      <span *ngIf="!productCodeVar.valid && productCodeVar.touched">Enter a valid Product Code</span>
    </div>
    <div>
      <label class="form-label" for="releaseDate">Available Date</label>
      <input type="text" class="form-control" name="releaseDate" id="releaseDate">
    </div>
    <div>
      <label class="form-label" for="price">Price</label>
      <input type="text" class="form-control" name="price" id="price">
    </div>
    <div>
      <input type="submit" [disabled]="!createProduct.valid" value="Save" class="btn-success">
    </div>
  </div>
</form>